
body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo {
  background-color: #2a2929;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 600px;  
  max-width: 100%;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.add-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 12px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

.add-task button {
  padding: 12px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-task button:hover {
  background-color: #2563eb;
}

.filter-task {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-task button {
  padding: 8px 16px;
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.filter-task button:hover {
  background-color: #2563eb;
}

.filter-task button.active {
  background-color: #2563eb;
}


.all-task {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.all-task li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #333333;
  transition: background-color 0.3s ease;
}

.all-task li:hover {
  background-color: #2e2e2e;
}

.task-edit input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

.task-edit .btn {
  display: flex;
  gap: 5px;
}

.task-edit .btn button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.task-edit .btn button.save {
  background-color: #10b981;
}

.task-edit .btn button.save:hover {
  background-color: #059669;
}

.task-edit .btn button.cancel {
  background-color: #ef4444;
}

.task-edit .btn button.cancel:hover {
  background-color: #dc2626;
}

span {
  flex: 1;
  font-size: 16px;
}

.btn button {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn button:hover {
  background-color: #2563eb;
}

.btn button i {
  pointer-events: none;
}
